<header class="sticky-top">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 logo-position">
          <%= link_to image_tag("logo2.png"), "/", class: 'logo' %>
        </div>
      </div>
    </div>
  </div>
  <div class="headerNav">
    <div class="container">
      <div class="row headerNavBox">
        <% if user_signed_in? %>
          <%= link_to "Home", root_path, class: "col-xs-6 col-sm-3 headerNavBtn"%>
          <%= link_to "About", homes_about_path, class: "col-xs-6 col-sm-3 headerNavBtn"%>
          <%= link_to "Building", buildings_new_path, class: "col-xs-6 col-sm-3 headerNavBtn"%>
          <%= link_to "Log out", destroy_user_session_path, data: {confirm: "ログアウトしますか？"}, class: "col-xs-6 col-sm-3 headerNavBtn"%>
        <% else %>  
          <%= link_to "Home", root_path, class: "col-xs-6 col-sm-3 headerNavBtn"%>
          <%= link_to "About", homes_about_path, class: "col-xs-6 col-sm-3 headerNavBtn"%>
          <%= link_to "Introduce", homes_introduce_path, class: "col-xs-6 col-sm-3 headerNavBtn",  'data-turbolinks': :false %>
          <%= link_to "Log in", new_user_session_path, class: "col-xs-6 col-sm-3 headerNavBtn"%>
        <% end %>
      </div>
    </div>
  </div>
</header>



