<div class="nested-fields">
  <%= f.select :floor_number, @entirety_basement_floors, {prompt: "階の選択"} %>
  <%= f.collection_select :entirety_usege_id, @entirety_useges, :id, :category, {prompt: "用途の選択"} %>
  <%= f.text_field :floor_area, autofocus: true, type: 'tel', class: 'col-sm-2 d-inline form-control', placeholder: "階の床面積" %>
  <%= f.text_field :floor_capacity, autofocus: true, type: 'tel', class: 'col-sm-2 d-inline form-control', placeholder: "階の収容人員" %>
  <%= f.hidden_field :building_id, value: @building.id %>
  <%= link_to_remove_association "削除", f %>
  <div class="error_message">
    <% @information_by_basement_floor_errors.each do |i| %>
      <p><%= @building.errors.full_messages_for(i).first %></p>
    <% end %>
  </div>
</div>