<div class="show_section">
  <%= link_to "登録画面へ", new_building_path, 'data-turbolinks': :false %>
  <div class="container">
  <%= will_paginate @buildings, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer%>
    <div class="row">
      <% @buildings.each do |building| %>
        <div class="card-link col-xs-12 col-sm-6 col-lg-3">
          <%= link_to building_path(building), method: :get do %>
            <div class="col_box clearfix">
              <div class="col-xs-6 col-sm-12">
                <img src="assets/building.png" alt="" class="img-responsive" style="width:100%;"/>
              </div>
              <div class="col-xs-6 col-sm-12">
                <h4><%= building.name %></h4>
                <p>住所：<%= building.address %></p>
                <p>用途：<%= building.entirety_usege.category %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <%= will_paginate @buildings, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer%>
  </div>
</div>
