<%= link_to "一覧画面へ", buildings_path %>
<h1>建物情報入力</h1>
<%= form_with model: @building, url: buildings_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, "名称", class:"col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control', placeholder: "建物名称を入力してください" %>
      <% if @building.errors.include?(:name) %>
        <p class="error_message"><%= @building.errors.full_messages_for(:name).first %></p>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address, "住所", class:"col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :address, autofocus: true, autocomplete: "address", class: 'form-control', placeholder: "建物の住所を入力してください"%>
      <% if @building.errors.include?(:address) %>
        <p class="error_message"><%= @building.errors.full_messages_for(:address).first %></p>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :entirety_usege_id, "全体用途", class:"col-sm-3 control-label"  %>
    <div class="col-sm-8">
      <%= f.collection_select :entirety_usege_id, @entirety_useges, :id, :view_category_and_example, {prompt: "選択してください"} %>
      <% if @building.errors.include?(:entirety_usege_id) %>
        <p class="error_message"><%= @building.errors.full_messages_for(:entirety_usege_id).first %></p>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :total_area, "延べ床面積（㎡）", class:"col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :total_area, autofocus: true, type: 'tel', placeholder: "半角数字で入力してください", class: 'form-control' %>
      <% if @building.errors.include?(:total_area) %>
        <p class="error_message"><%= @building.errors.full_messages_for(:total_area).first %></p>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :total_capacity, "総収容人員（人）", class:"col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :total_capacity, autofocus: true, placeholder: "半角数字で入力してください", class: 'form-control' %>
      <% if @building.errors.include?(:total_capacity) %>
        <p class="error_message"><%= @building.errors.full_messages_for(:total_capacity).first %></p>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :basement_floor, "地階", class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.select :basement_floor, @entirety_basement_floors, {prompt: "選択してください"} %>
      <% if @building.errors.include?(:basement_floor) %>
        <p class="error_message"><%= @building.errors.full_messages_for(:basement_floor).first %></p>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class="buildings col-sm-8">
      <%= f.fields_for :information_by_basement_floors do |i| %>
        <%= render "information_by_basement_floor_fields", f: i %>
      <% end %>
      <div class="links" id="basement_floor">
        <%= link_to_add_association '＋階情報を追加', f, :information_by_basement_floors %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :entirety_floor, "階数", class:"col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.select :entirety_floor, @entirety_floors, {prompt: "選択してください"} %>
      <% if @building.errors.include?(:entirety_floor) %>
        <p class="error_message"><%= @building.errors.full_messages_for(:entirety_floor).first %></p>
      <% end %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="buildings col-sm-8">
      <%= f.fields_for :information_by_floors do |i| %>
        <%= render "information_by_floor_fields", f: i %>
      <% end %>
      <div class="links">
        <%= link_to_add_association '＋階情報を追加', f, :information_by_floors %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">火気使用の有無</label>
    <div class="col-sm-8">
      <%= f.radio_button :fire_use, :有 %>
      <%= f.label :有, class: "col-sm-3 control-label" %>
    </div>
    <div class="col-sm-8">
      <%= f.radio_button :fire_use, :無, checked: "checked" %>
      <%= f.label :無, class: "col-sm-3 control-label" %>
    </div>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="col-sm-8 actions">
    <%= f.submit ("登録"), class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
