<%= link_to "詳細ページへ", building_path(@building) %>
<h1>Search</h1>
<%= fire_extinguisher %>
<hr>
<%= automatic_fire_alarm_equipment %>
<hr>
<%= emergency_alarm_equipment %>
<hr>
<%= evacuation_tool %>
<hr>
<%= guide_light %>
<hr>

<p>※複合用途防火対象物の各階毎の消防用設備等の設置判定はしていません</p>
<p>※少量危険物及び指定可燃物の貯蔵等の有無による消防用設備等の設置判定はしていません</p>
<p>※避難階及び避難階段等の設置の有無による消防用設備等の設置判定はしていません</p>