<div class="show_section">
  <%= link_to "一覧画面へ", buildings_path, 'data-turbolinks': :false %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="col_box clearfix">
          <div class="row">
            <div class="col-md-6">
              <h4 id="name"><%= @building.name %></h4>
              <h5 id="address">住所:<%= @building.address %></h5>
              <p>建物タイプ:<%= @building.building_type.b_type %>
              <p>用途:<%= @building.entirety_usege.category %></p>
              <p>延べ面積(㎡):<%= @building.information_by_floors.all.sum(:floor_area) %></p>
              <p>収容人員(人):<%= @building.information_by_floors.all.sum(:floor_capacity) %></p>
              <table class="table table-bordered table-striped col-lg-12">
                  <thead>
                    <tr align="center">
                      <th>階数</th>
                      <th>床面積(㎡)</th>
                      <th>収容人員(人)</th>
                      <th>無窓階判定</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @building.information_by_floors.each do |building| %>
                    <tr align="center">
                      <td><%=building.floor_number.floor %></td>
                      <td><%=building.floor_area %></td>
                      <td><%=building.floor_capacity %></td>
                      <td><%=building.windowless.judgement %></td>
                    </tr>
                    <% end %>
                  </tbody>
              </table>
              <% if [7,8].include?(@building.entirety_usege_id) %>
                <p>火気設備使用の有無:<%= @building.fire_use.fire_use_select %></p>
              <% end %>
            </div>
            <div class="col-md-6">
              <div id="gmap"></div>
              <hr>
              <%= render partial: "equipment_judgement" %>
              <%= link_to "編集", edit_building_path(@building), class: "btn-gradient-radius w-25 three-btn", 'data-turbolinks': :false %>
              <%= link_to "削除", building_path(@building), method: :delete, data: { confirm: "削除しますか？" }, class: "btn-gradient-radius w-25 three-btn"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>