<div class="show_section">
  <%= link_to "一覧画面へ", buildings_path, 'data-turbolinks': :false %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="col_box clearfix">
          <div class="row">
            <div class="col-md-6">
              <h4><%= @building.name %></h4>
              <p id="address">▶︎住所:<%= @building.address %></p>
              <p>▶︎全体用途:<%= @building.entirety_usege.category %></p>
              <p>▶︎延べ床面積(㎡):<%= @building.total_area %></p>
              <p>▶︎総収容人員(人):<%= @building.total_capacity %></p>
              <% if @building.basement_floor == "なし" %>
                <p>▶︎地階:<%= @building.basement_floor %></p>
              <% else %>
                <p>▶︎地階:B<%= @building.basement_floor %>階</p>
                <table class="table table-bordered table-striped col-lg-12">
                  <thead>
                    <tr align="center">
                      <th>地階</th>
                      <th>用途</th>
                      <th>床面積(㎡)</th>
                      <th>収容人員(人)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @building.information_by_basement_floors.each do |building| %>
                    <tr align="center">
                      <th>B<%=building.floor_number %></th>
                      <td><%=building.entirety_usege.category %></td>
                      <td><%=building.floor_area %></td>
                      <td><%=building.floor_capacity %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              <% end %>
              <p>▶︎階数:<%= @building.entirety_floor %>階</p>
              <table class="table table-bordered table-striped col-lg-12">
                  <thead>
                    <tr align="center">
                      <th>階数</th>
                      <th>用途</th>
                      <th>床面積(㎡)</th>
                      <th>収容人員(人)</th>
                      <th>無窓階判定</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @building.information_by_floors.each do |building| %>
                    <tr align="center">
                      <th><%=building.floor_number %></th>
                      <td><%=building.entirety_usege.category %></td>
                      <td><%=building.floor_area %></td>
                      <td><%=building.floor_capacity %></td>
                      <td><%=building.windowless.judgement %></td>
                    </tr>
                    <% end %>
                  </tbody>
              </table>
              <p>▶︎火気使用の有無:<%= @building.fire_use %></p>
            </div>
            <div class="col-md-6">
              <div id="gmap"></div>
              <hr>
              <a class="js-modal-open btn-gradient-radius w-25 three-btn" href="" data-target="modal">消防用設備</a>
              <div id="modal" class="modal js-modal">
                <div class="modal_bg js-modal-close"></div>
                <div class="modal_content">
                  <h5>▶︎必要な消防用設備等</h5>
                  <table class="table table-bordered table-striped">
                    <tbody>
                      <tr>
                        <td><%= fire_extinguisher %></td>
                      </tr>
                      <tr>
                        <td><%= automatic_fire_alarm_equipment %></td>
                      </tr>
                      <tr>
                        <td><%= emergency_alarm_equipment %></td>
                      </tr>
                      <tr>
                        <td><%= evacuation_tool %></td>
                      </tr>
                      <tr>
                        <td><%= guide_light %></td>
                      </tr>
                    </tbody>
                  </table>
                  <p>※複合用途防火対象物の各階毎の消防用設備等の設置判定はしていません</p>
                  <p>※少量危険物及び指定可燃物の貯蔵等の有無による消防用設備等の設置判定はしていません</p>
                  <p>※避難階及び避難階段等の設置の有無による消防用設備等の設置判定はしていません</p>
                  <a class="js-modal-close btn-gradient-radius" href="">Close</a>
                </div>
              </div>
              <%= link_to "編集", edit_building_path(@building), class: "btn-gradient-radius w-25 three-btn" %>
              <%= link_to "削除", building_path(@building), method: :delete, data: { confirm: "削除しますか？" }, class: "btn-gradient-radius w-25 three-btn"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>