<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="card-link">
    <a class="js-modal-open" href="" data-target="modal<%= equipment.id %>">
    <div class="card-group introduction-card">
      <div class="card">
        <img src=<%= equipment.image %> class="card-img-top" alt="#">
        <h4 class="card-header"><%= equipment.item %></h4>
        <div class="card-body">
          <p class="card-text">詳細が表示されます。</p>
        </div>
      </div>
    </div>
  </div>
  </a>
  <div id="modal<%= equipment.id %>" class="modal js-modal">
    <div class="modal_bg js-modal-close"></div>
    <div class="modal_content">
      <h5><%= equipment.item %></h5>
      <img src=<%= equipment.image %> class="modal-img" alt="#">
      <hr>
      <p><%= equipment.introduction %></p>
      <a class="js-modal-close btn-gradient-radius" href="">Close</a>
    </div>
  </div>
</div>
