<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="col_box clearfix">
    <div class="col-xs-6 col-sm-12">
      <h4><%= equipment.item %></h4>
      <hr>
      <p>Click hereを押すと詳細が表示されます</p>
      <a class="js-modal-open btn-gradient-radius" href="" data-target="modal<%= equipment.id %>">Click here</a>
      <div id="modal<%= equipment.id %>" class="modal js-modal">
        <div class="modal_bg js-modal-close"></div>
        <div class="modal_content">
          <h5><%= equipment.item %></h5>
          <hr>
          <p><%= equipment.introduction %></p>
          <a class="js-modal-close btn-gradient-radius" href="">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>
