<h1>introduce</h1>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/syoubousya1.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
            <div class="col-xs-6 col-sm-12">
              <h4>消火器</h4>
              <p>Click hereを押すと詳細が表示されます。</p>
              <%= link_to "Click here", homes_about_path, class: "btn-gradient-radius"%>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/kanchiki.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
            <div class="col-xs-6 col-sm-12">
              <h4>屋内消火栓設備</h4>
              <p>Click hereを押すと詳細が表示されます。</p>
              <%= link_to "Click here", homes_introduce_path, class: "btn-gradient-radius"%>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/syoukaki.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
          <div class="col-xs-6 col-sm-12">
            <h4>スプリンクラー設備</h4>
            <p>Click hereを押すと詳細が表示されます。</p>
            <%= link_to "Click here", homes_search_path, class: "btn-gradient-radius"%>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/kanchiki.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
            <div class="col-xs-6 col-sm-12">
              <h4>水噴霧消火設備</h4>
              <p>Click hereを押すと詳細が表示されます。</p>
              <%= link_to "Click here", homes_introduce_path, class: "btn-gradient-radius"%>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/kanchiki.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
            <div class="col-xs-6 col-sm-12">
              <h4>淡消火設備</h4>
              <p>Click hereを押すと詳細が表示されます。</p>
              <%= link_to "Click here", homes_introduce_path, class: "btn-gradient-radius"%>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/kanchiki.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
            <div class="col-xs-6 col-sm-12">
              <h4>不活性ガス消火設備</h4>
              <p>Click hereを押すと詳細が表示されます。</p>
              <%= link_to "Click here", homes_introduce_path, class: "btn-gradient-radius"%>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/kanchiki.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
            <div class="col-xs-6 col-sm-12">
              <h4>ハロゲン化物消火設備</h4>
              <p>Click hereを押すと詳細が表示されます。</p>
              <%= link_to "Click here", homes_introduce_path, class: "btn-gradient-radius"%>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/kanchiki.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
            <div class="col-xs-6 col-sm-12">
              <h4>粉末消火設備</h4>
              <p>Click hereを押すと詳細が表示されます。</p>
              <%= link_to "Click here", homes_introduce_path, class: "btn-gradient-radius"%>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/kanchiki.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
            <div class="col-xs-6 col-sm-12">
              <h4>屋外消火栓設備</h4>
              <p>Click hereを押すと詳細が表示されます。</p>
              <%= link_to "Click here", homes_introduce_path, class: "btn-gradient-radius"%>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/kanchiki.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
            <div class="col-xs-6 col-sm-12">
              <h4>動力消防ポンプ設備</h4>
              <p>Click hereを押すと詳細が表示されます。</p>
              <%= link_to "Click here", homes_introduce_path, class: "btn-gradient-radius"%>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/kanchiki.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
            <div class="col-xs-6 col-sm-12">
              <h4>自動火災報知設備</h4>
              <p>Click hereを押すと詳細が表示されます。</p>
              <%= link_to "Click here", homes_introduce_path, class: "btn-gradient-radius"%>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/kanchiki.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
            <div class="col-xs-6 col-sm-12">
              <h4>ガス漏れ火災警報設備</h4>
              <p>Click hereを押すと詳細が表示されます。</p>
              <%= link_to "Click here", homes_introduce_path, class: "btn-gradient-radius"%>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/kanchiki.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
            <div class="col-xs-6 col-sm-12">
              <h4>漏電火災警報器</h4>
              <p>Click hereを押すと詳細が表示されます。</p>
              <%= link_to "Click here", homes_introduce_path, class: "btn-gradient-radius"%>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/kanchiki.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
            <div class="col-xs-6 col-sm-12">
              <h4>消防機関へ通報する火災報知設備</h4>
              <p>Click hereを押すと詳細が表示されます。</p>
              <%= link_to "Click here", homes_introduce_path, class: "btn-gradient-radius"%>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/kanchiki.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
            <div class="col-xs-6 col-sm-12">
              <h4>非常警報設備</h4>
              <p>Click hereを押すと詳細が表示されます。</p>
              <%= link_to "Click here", homes_introduce_path, class: "btn-gradient-radius"%>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/kanchiki.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
            <div class="col-xs-6 col-sm-12">
              <h4>避難器具</h4>
              <p>Click hereを押すと詳細が表示されます。</p>
              <%= link_to "Click here", homes_introduce_path, class: "btn-gradient-radius"%>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col_box clearfix">
          <div class="col-xs-6 col-sm-12">
            <img src="assets/kanchiki.png" alt="" class="img-responsive" style="width:100%;"/>
          </div>
            <div class="col-xs-6 col-sm-12">
              <h4>誘導灯・誘導標識</h4>
              <p>Click hereを押すと詳細が表示されます。</p>
              <%= link_to "Click here", homes_introduce_path, class: "btn-gradient-radius"%>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
